include parts/head.pug
include parts/header.pug
include parts/main.pug
include parts/footer.pug
script(src='/socket.io/socket.io.js')
script(src='lib/jquery-3.4.1.min.js')
script(src='js/dominos.js')
script(src='js/index.js')