footer
  | Avatars : Images par 
  a(href='https://pixabay.com/fr/users/OpenClipart-Vectors-30363/?utm_source=link-attribution&utm_medium=referral&utm_campaign=image&utm_content=1294163' target='blank') OpenClipart-Vectors
  |  de 
  a(href='https://pixabay.com/fr/?utm_source=link-attribution&utm_medium=referral&utm_campaign=image&utm_content=1294163' target='blank') Pixabay